.wrap{
    min-height: 350px;
    width: 250px;
    border: 1px solid #ececec;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
}

.wrap:hover{
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
}

.title{
    font-size: 20px;
    margin-bottom: 10px;
}

.descr{
    font-size: 16px;
    margin-bottom: 15px;
}

.photo{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eeeeee;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.photo img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
}
.price{
    font-size: 16px;
    font-weight: 500;
}